{{- /* Google AdSense */ -}}
{{- if .Site.Params.adsense.enabled -}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Site.Params.adsense.client }}" 
        crossorigin="anonymous"></script>
{{- end -}}

{{- /* Google Analytics */ -}}
{{- if .Site.Params.googleAnalytics -}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.Params.googleAnalytics }}');
</script>
{{- end -}}